<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem id="kadokawa_menu_root" name="Kadokawa ERP" sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="kadokawa_staff_menu_categ" name="Staff" parent="kadokawa_menu_root" sequence="10"/>

</odoo>
